PORT=3000
DATABASE_URL=postgres://USERNAME:PASSWORD@PG_HOST:PG_PORT/defaultdb?sslmode=require
PGHOST=PG_HOST
PGPORT=PG_PORT
PGDATABASE=defaultdb
PGUSER=USERNAME
PGPASSWORD=PASSWORD
PGSSL=true
PGSSLMODE=require
PGSSL_REJECT_UNAUTHORIZED_FALSE=false
PGSSL_CA=
KAFKA_CLIENT_ID=bid-service
KAFKA_BROKERS=KAFKA_HOST:KAFKA_PORT
KAFKA_GROUP_ID=bid-service-group
KAFKA_SSL=true
KAFKA_SSL_REJECT_UNAUTHORIZED_FALSE=false
KAFKA_SSL_CA=
KAFKA_SSL_CERT=
KAFKA_SSL_KEY=
KAFKA_SASL_MECHANISM=plain
KAFKA_SASL_USERNAME=KAFKA_USERNAME
KAFKA_SASL_PASSWORD=KAFKA_PASSWORD
